BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 120
SpaceBeforeParens: ControlStatements
AlwaysBreakAfterReturnType: None
PointerAlignment: Right
SpacesInAngles: false
SpaceAfterCStyleCast: true

AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
