BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
SortIncludes: false

AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes

SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpaceAfterCStyleCast: true

PointerAlignment: Right
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
